.banner{
    width: 100%;
    position: relative;
    .banner-img{
        width: 100% !important;
        height: auto !important;
        min-height: 250px;
        position: at;
        object-fit: cover;
    }
    .text{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 5%;   
        width: 50%;
        padding: 2%;
        h2{
            color: purple;
        }
        p{
            margin-top: 10px;
        }
      
    }
}

@media only screen and (max-width: 1200px) {
    .text p{
        display: none;
    }
}
@media only screen and (max-width: 1200px) {
    .banner{
        .text{
        position: relative !important;
        // top:0;
        transform: none;
        width: 100%;
        left: 0;
    }
}
}