.person {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin: 50px 0;
    // min-height: 555px
}

.navbar {
    // position: relative;
}

.content {
    min-height: 555px;
    // margin-left: 70px;
}

.SearchAndAddSubjects_ItemAll {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: 30px;
    align-items: flex-start;

    i {
        font-size: 30px;
        margin-left: 20px;
        cursor: pointer;

        :hover {
            color: greenyellow;
        }
    }

}