.header-detail{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;
  .title {
    font-size: 32px;
  }
}

.layout-content {
  display: flex;
  gap: 1rem;
  .layout-menu {
    flex-basis: 20%;
  }

.layout-video {
  flex-basis: 60%;
  width: 100%;
  .video-wrapper {
    width: 100%;
    height: 34rem;
  }
}

.content {
  flex-basis: 20%;
  h1 {
    font-size: 32px;
    text-align: center;
  }
}
}