//list coursse
.list-course-container {
  width: 100%;
  padding: 2% 0;
  .text-p {
    padding: 15px 0;
  }
}

.list-btn {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  
  button {
    background-color: rgb(165, 168, 165);
    width: 350px;
    height: 420px;
    margin-top: 50px;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid transparent;
    transition: border-color 0.3s;
  }

  button:hover {
    border: 1px solid red;
  }
  .active {
    color: black;
    border-bottom: 3px solid black;
  }
  i {
    color: green;
    margin-right: 5px;
  }
}


.list-main {
  border: 1px solid rgb(201, 201, 201);
  padding: 2%;
  margin: 2% 0;
  p {
    width: 100%;
    max-width: 800px;
  }
  .explore {
    display: block;
    padding: 10px 20px;
    border: 5px solid black;
    width: fit-content;
    font-weight: bolder;
  }
}

//most-views
.most-view {
  padding: 5% 0;
}

//top
.top-category {
  padding: 5% 0;
  .list-top-cate {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .item-top-cate {
      width: 23%;
      margin-bottom: 20px;

      img {
        width: 100% !important;
        height: auto !important;
        transition: 0.4s;
      }
      p {
        font-weight: 700;
      }
    }
    .item-top-cate:hover {
      img {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      }
    }
  }
}

.ListCourse-Item {
  background-color: rgb(233, 244, 233);
  width: 350px;
  height: 420px;
  margin-top: 50px;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid transparent;
  transition: border-color 0.3s;
}

.ListCourse-Item:hover {
  border: 1px solid red;

}


.ListCourse-Title {
  transition: transform 0.2s ease-in-out;
  margin-top: 130px;
  font-size: 25px;
}
.ListCourse-Title:hover {
  transform: translateY(-5px);
  color: red;

}


.ListCourse-In-Course {
  margin-top: 20px;
  font-weight: 700;
}

.List-Course-Class {
  background-color: rgb(234, 240, 240);
  margin: 10px;
  width: 90%;
  border-radius: 5px;
  list-style: none;
  cursor: pointer;

  box-shadow: inset 0px 0px 5px 1px #888888;
}


.openStatus {
  color: green; /* Màu xanh cho trạng thái Open */
}

.closedStatus {
  color: red; /* Màu đỏ cho các trạng thái khác */
}

.List-Course-Class-Description {
  flex: 1;
  background-color: #cdc8c8;
  border-radius: 15px;
  
}

@media only screen and (max-width: 768px) {
.list-btn {
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;

button {
  width: 100%;
  height: 30px;
}
button:hover {
  border: 1px solid red;
}
.active {
  color: red;
}
i {
  color: green;
  margin-right: 5px;
}

}

.ListCourse-Title {
  margin-top: 0;
  font-size: 18px;
  display: flex;
  
}

.ListCourse-In-Course {
  display: none;
}

.list-course-container {
  width: 100%;
  height: 10%;
}

.List_Course-Icon {
  display: none;
}

}

.List_Course-Icon {
  font-size: 100px;
  margin-top: 70px; 
}