.payment-history{
    height: 600px;
}
.header{
    display: flex;
    margin: 0px 0px 24px 0;
    border-bottom: 1px solid #ccc;
    padding: 24px 0px 24px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
}
.body-payment-history{

}
.body-item{
    margin: 12px 24px;
}