.course-view{
    .form-item{
        margin-bottom: 20px;
    }

    .form-group{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .form-group-title{
            font-weight: 600;
            font-size: 16px;
        }

        .form-item{
            width: calc(50% - 10px);
        }
    }
}