.OnlineClasses {
    margin-top: 25px;
    &:hover{
        color: red;
    }
}
.course-item {
    margin-left: 25px;
    margin-right: 22px;
    margin-top: 15px;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 20px;
    box-shadow: 0 2px 15px rgb(160, 153, 153);
    background-color: white
    
}

.course-item-icons {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    
}