.Item_Cart_subject_all{
    width: 100%;
    display: flex;
    align-items: center;
    .Item_subject_item{
        width: 90%;
        text-align: center;
        div{
            font-size: 18px;
            font-weight: 700;
        }
        p{
            font-size: 11px;
            color: #1f2667;
            font-weight: 700;
        }
    }
    .Item_subject_icon{
        font-size: 20px;
        width: 10%;
        color: #7f0000;
        
    }
}