
.list-course-container {
  width: 100%;
  padding: 25px 0;
  .text-p {
    padding: 15px 0;
  }
  
}

.search-container {
  width: 90%;
  margin-top: 70px;
  margin-left: 5%;
  position: relative;
  flex: 1;

  input {
      padding: 15px 20px 15px 50px;
      border-radius: 24px;
      border: 1px solid black;
      outline: none;
      width: 100%;
      color: rgb(165, 164, 164);
      background-color: white;
  }

  .search-input::placeholder {
      color: rgb(170, 169, 169);
  }

  svg {
      position: absolute;
      top: 15px;
      left: 15px;
      color: gray;
  }
}

.sort-container{
  width: 90%;
  margin-top: 20px;
  margin-left: 5%;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  .title-sort-container{
    padding: 14px 16px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .content-sort-container{
    width: 100%;
    border-top: 1px solid #eee;
    padding: 14px 16px 16px 16px;
    .select-container{
      width: 100%;
    }
  }
}

.icon {
  font-size: 20px;
}

.load-more{
  text-align: center ;
  margin-top:40px;
  height: 32px;
  line-height: 32px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: blueviolet;
  cursor: pointer;
  &:hover{
    opacity: 0.7;
  }
  p{
    margin-top: 5px;
    color: white;
    font-weight: 500;
  }
}

.list {
  display: inline-flex;
  padding-left: 30px;
  flex-wrap: wrap;
  gap: 20px;
  margin: 10px 0;
  justify-content: center;
}
.card {
  width: 210px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
}

.course-card {
  // height: 100%;
  // width: 100%;
  // .titleDoc {
  //   text-align: center;
  //   margin-top: 20px !important;
  //   margin-bottom: 50px !important;
  // }
  .title {
    padding: 2px;
    margin-left: 15px;
    // display: flex;
    // align-items: center;
    .name {
      color: rgb(233, 185, 11);
    }
    .sub {
      color: red;
    }
    .brown {
      color: brown;
    }
  }

  img {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    object-fit: cover;
  }
  span {
    color: #666;
    text-align: center;
    font-size: 12px;
  }
  i {
    font-size: 10px;
  }

  .footer-card {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content:  center;
    column-gap: 35px;
    i {
      font-size: 20px;
      color:rgba(0, 0, 0, 0.55);
      cursor: pointer;
      &:hover {
        color:rgba(0, 0, 0, 0.7);
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .list-course-container h1{
    margin-top: 20px;
  }
  .list-course-container hr{
    width: 50%;
    margin-left: 120px;
  }
  .search-container{
    width: 97%;
    margin-top: 70px;
    margin-left: 1%;
    position: relative;
    flex: 1;
  }
  .sort-container{
    width: 95%;
  margin-top: 20px;
  margin-left: 2%;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  }
  .list{
    display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: -10px;
  
  }
  .item-top-cate {
    width: 48% !important;
  }
 
.course-card{
  // border: 1px solid blue;
  // width: 70%;
  // .title{
  //   // border: 1px solid red;
  //   // margin-right: 10px;
  //   // margin-left: 10px;
  // }
}
.course-card-img{
  width: 50%;
  // margin-left: 50px;
}
.card{
  width: 100% !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  // border-radius: 5px;
  // border: 1px solid green;
  margin-left: -10px;
}
 
}
