.course-item {
    margin-left: 25px;
    background-color: aliceblue;
    margin-top: 15px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.course-item-icons {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    
}